:root {
  --blue-color: #464c58;
  --parchment-color: #d6cca9;
}

@font-face {
  font-family: "game_of_thronesregular";
  src: url("./assets/fonts/game_of_thrones-webfont.woff2") format("woff2"),
    url("./assets/fonts/game_of_thrones-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "masonregular";
  src: url("./assets/fonts/mason_regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/mason_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-variant: small-caps;
  color: white;
  font-family: "game_of_thronesregular";
  /* font-family: "game_of_thronesregular"; */
}

nav {
  background-color: var(--blue-color);
  font-family: "game_of_thronesregular";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0.45;
  color: white;
  font-size: 1.2em;
  box-shadow: 15px 10px 40px #414141;
  border-radius: 0 0 5px 5px;
  /* position: sticky; */
  /* top: -10; */
}

nav h5 {
  display: flex;
  flex-direction: column;
}

.navLeft {
  display: flex;
  /* flex: .1; */
  /* width: 50%; */
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  /* top: 0; */
}

.active {
  font-size: 1.2em;
  color: white;
  text-decoration: overline;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  margin: 2%;
}

a:hover {
  cursor: pointer;
  color: white;
}

.navRight {
  flex: 0.8;
}

main {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin-top: 5%;
  font-family: "masonregular";
}

.character-create {
  background-color: var(--blue-color);
  color: white;
  border: 1px solid white;
  margin: 4% 10%;
  padding: 3%;
  display: flex;
  flex: 0.8;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
}

.character-create form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-create input {
  margin: 2% 0;
  width: 90%;
  padding: 2%;
  font-size: 1em;
}

main a {
  font-size: 1.3em;
  color: white;
  text-decoration: overline;
  /* text-decoration: underline; */
}

.avatar-create {
  background-color: var(--blue-color);
  border: 1px solid white;
  margin: 5% 7%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: auto;
  flex: 0.9;
  justify-content: center;
  align-items: center;
}

.avatar-create-left {
  display: flex;
  flex-direction: column;
}

.avatar-create a {
  font-size: 1.1em;
}

.avatar-create input[type="text"] {
  font-size: 1em;
}

.radio-container {
  display: flex;
  justify-content: flex-start;
}

select {
  color: black;
  background-color: white;
  margin: 3%;
  padding: 1%;
  font-size: 1em;
  font-family: "masonregular";
}

.avatar-options {
  display: flex;
  flex-direction: column;
}

.character-display {
  background-color: var(--blue-color);
  /* margin: 5% 10%; */
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.4em;
  text-align: center;
  color: white;
}

.character-display img {
  width: 40%;
}

.character-display span > * {
  display: flex;
  flex-direction: column;
}

.character-display li {
  list-style-type: none;
}

.character-display strong {
  color: rgb(170, 170, 170);
}

footer {
  background-color: var(--blue-color);
  font-family: "game_of_thronesregular";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
  font-size: 1.2em;
  box-shadow: 5px 0px 15px #414141;
}

footer > * {
  margin: 1% 0;
}

.footerL {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 2%;
  font-size: 1.3em;
}

@media (min-width: 1440px) {
  nav {
    flex: 0.1;
  }

  main {
    flex: 1;
  }

  footer {
    flex: 0.2;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("./assets/background2.png");
    background-size: stretch;
    background-repeat: no-repeat;
    font-size: 1em;
  }

  nav {
    position: fixed;
    width: 100%;
    flex: 0.3;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
  }

  .navLeft {
    order: -1;
  }

  .navRight {
    margin-right: 5%;
    text-align: right;
  }

  main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    /* overflow-x: scroll; */
    margin: 0;
    /* margin: 0 3%; */
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* margin: 0 auto; */
  }

  .character-create {
    margin: 10%;
  }

  .character-create form {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .character-create input[type="text"] {
    /* margin: 5% auto; */
    /* width: 100%; */
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .avatar-create {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10% 7%;
    height: auto;
  }

  .avatar-create-left {
    justify-content: space-between;
    flex: 0.7;
  }

  .avatar-create-left img {
    /* flex-direction: column; */
    width: 100%;
    order: -1;
  }

  .avatar-create-left span {
    order: -2;
    text-align: center;
    font-size: 1.5em;
  }

  .avatar-create-left a {
    order: -2;
  }

  .radio-container {
    justify-content: space-evenly;
  }

  .avatar-options {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 0.5;
  }

  .avatar-options form > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .avatar-options select {
    width: 100px;
  }

  .character-container {
    display: flex;
    flex: 1;
    margin: 5% auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .character-display {
    margin: 8% 1%;
    /* flex: .5; */
    margin-bottom: 0;
    width: 350px;
    /* min-width: 300px; */
    /* max-width: 400px; */
    height: auto;
    align-items: center;
    justify-content: center;
  }

  footer {
    /* position: fixed; */
    width: 100%;
    flex-direction: row;
    flex: 0.1;
    /* bottom: 0; */
  }

  footer > * {
    padding: 0 3%;
  }

  .footerL {
    justify-content: flex-start;
  }

  .footerL > * {
    padding: 0 3%;
  }
}

@media (max-width: 728px) {
  .character-display {
    width: 60%;
    margin: 3% auto;
  }
}
